@model MyGardenWildlife2.Models.CategoryModel
@{
    ViewBag.Title = @Model.CategoryName + "Category Edit";
}

<h2> @Model.CategoryName Category Edit</h2>

<form action="~/admin/CategorySave" method="post">
    <input type="hidden" name="CategoryId" value="@Model.Id"/>
    <input type="hidden" name="SectionId" value="@Model.SectionModel.Id" />
    <input type="text" name="CategoryName" value="@Model.CategoryName"/>
    <br />
    <input type="submit" value="submit"/>

</form>
