@model MyGardenWildlife2.Models.SightingModel
@{
    ViewBag.Title = Model.SpeciesModel.CommonName + Model.WhenSeen + "Figure List";
    ViewBag.Heading = "Figure List";
}



<h2>@Model.SpeciesModel.CommonName @Model.WhenSeen Figure List</h2>

<table>
    <tr>
        <td>Source</td>
        <td>Aternative</td>
        <td>Caption</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    @foreach (var figureObject in Model.FigureList)
    {
        <tr>
            <td>@figureObject.Source</td>
            <td>@figureObject.Alternative</td>
            <td>@figureObject.Caption</td>
            <td><a href="~/admin/FigureEdit/@figureObject.Id">Edit</a></td>
            <td><a href="~/admin/FigureDelete/@figureObject.Id">Delete</a></td>
        </tr>
    }
</table>
<br />

<a href="~/admin/NewFigure/@Model.Id">Add a new figure</a>


