@model MyGardenWildlife3.Models.SectionModel

<h2>Category List: @Model.SectionName</h2>

<table>
    <thead>
        <tr>
            <td>Category Name</td>
            <td>Edit</td>
            <td>Species</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoryObject in Model.CategoryList)
        {
            <tr>
                <td>@categoryObject.CategoryName</td>
                <td class="toCategoryEdit">
                    <a href=# id="@categoryObject.Id">Edit @categoryObject.CategoryName</a>
                </td>
                <td class="toSpeciesList">
                    <a href=# id="@categoryObject.Id">SpeciesList: @categoryObject.CategoryName</a>
                </td>
                <td>
                    <a href="~/admin/CategoryDelete/@categoryObject.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>


</table>

<br />
<a href="~/admin/NewCategory/@Model.Id">Add a new category</a>

@*add link or button back to sectionList or adminIndex*@

<br /><br />
<button type="button" class="toSectionList">Back to Section List</button>
<button type="button" class="toAdminIndex">Back to Admin Home</button>

