@model MyGardenWildlife3.Models.FigureModel

<h2>Edit Figure: @Model.Caption</h2>


    <input type="hidden" id="figureId" name="FigureId" value="@Model.Id" />
    <input type="hidden" id="sightingId" name="SightingId" value="@Model.SightingModel.Id" />
    Source URL:
    <input type="text" id="source" name="Source" value="@Model.Source" />
    <br /><br />
    Alternative message:
    <input type="text" id="alternative" name="Alternative" value="@Model.Alternative" />
    <br /><br />
    Figure caption:
    <input type="text" id="caption" name="Caption" value="@Model.Caption" />
    <br /><br />
    <input type="button" class="submitFigure" value="Submit" />


<br /><br />
<button type="button" class="toAdminIndex">Back to Admin Home</button>
