@model List<MyGardenWildlife3.Models.SectionModel>

<h2>Section List</h2>

<table>
    <thead>
        <tr>
            <td>Section Name</td>
            <td>Edit</td>
            <td>Categories</td>
            <td>Delete</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var sectionObject in Model)
        {
            <tr>
                <td>@sectionObject.SectionName</td>

                <td class="sectionEdit">
                    <a href=# id=@sectionObject.Id>Edit @sectionObject.SectionName</a>
                </td>

                <td class="toCategoryList">
                    <a href=# id="@sectionObject.Id">Category List: @sectionObject.SectionName</a>
                </td>

                <td class="deleteSection">
                    <a href=# id="@sectionObject.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br /><br />
<button type="button" class="toAddNewSection">Add New Section</button>

<button type="button" class="toAdminIndex">Back to Admin Home</button>

