@model MyGardenWildlife3.Models.SpeciesModel

<h2>Sighting List: @Model.CommonName <i>@Model.LatinName</i></h2>

<table>
    <thead>
        <tr>
            <td>When</td>
            <td>Where</td>
            <td>How Many</td>
            <td>Comment</td>
            <td>Edit</td>
            <td>Figures</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var sightingObject in Model.SightingList)
        {
            <tr>
                <td>
                    @if (sightingObject.WhenSeen != null)
                    {
                        <span>@sightingObject.WhenSeen.Value.ToShortDateString()</span>
                    }
                </td>
                <td>@sightingObject.WhereSeen</td>
                <td>@sightingObject.HowMany</td>
                <td>@sightingObject.Comment</td>
                <td class="toSightingEdit">

                    <a href=# id="@sightingObject.Id">Edit <i>@Model.LatinName</i> Sighting</a>
                </td>
                <td class="toFigureList">
                    <a href=# id="@sightingObject.Id">Figure List <i>@Model.LatinName</i> @sightingObject.WhenSeen.Value.ToShortDateString()</a>
                </td>
                <td>
                    <a href="~/admin/SightingDelete/@sightingObject.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>

</table>
<br />

<a href="~/admin/NewSighting/@Model.Id">Add a new sighting</a>

<br /><br />
<button type="button" class="toAdminIndex">Back to Admin Home</button>

