@model MyGardenWildlife3.Models.SightingModel

<h2>Edit Sighting: @Model.SpeciesModel.CommonName <i>@Model.SpeciesModel.LatinName</i> @Model.WhenSeen.Value.ToShortDateString()</h2>


    <input type="hidden" id="sightingId" name="SightingId" value="@Model.Id" />
    <input type="hidden" id="speciesId" name="SpeciesId" value="@Model.SpeciesModel.Id" />
    When seen:
    <input type="datetime" id="whenSeen" name="WhenSeen" value=" @((Model.WhenSeen != null)? @Model.WhenSeen.Value.ToShortDateString():"") " />
    <br /><br />
    Where seen:
    <input type="text" id="whereSeen" name="WhereSeen" value="@Model.WhereSeen" />
    <br /><br />
    How many:
    <input type="number" id="howMany" name="HowMany" value="@Model.HowMany" />
    <br /><br />
    Comment:
    <input type="text" id="comment" name="Comment" value="@Model.Comment" />
    <br /><br />
    <input type="button" class="submitSighting" value="Submit" />



<br /><br />
<button type="button" class="toAdminIndex">Back to Admin Home</button>
<button type="button" class="backToSighList">Back to Sighting List</button>



