@model MyGardenWildlife3.Models.CategoryModel

<h2>Species List: @Model.CategoryName</h2>

<table>
    <thead>
        <tr>
            <td>Species Common Name</td>
            <td>Latin Name</td>
            <td>Edit</td>
            <td>Sighting</td>
            <td>Delete</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var speciesObject in Model.SpeciesList)
        {
            <tr>
                <td>@speciesObject.CommonName</td>
                <td class="speciesLatin">@speciesObject.LatinName</td>
                <td class="toSpeciesEdit">
                    <a href=# id="@speciesObject.Id">Edit @speciesObject.CommonName</a>
                </td>
                <td class="toSightingList">
                    <a href=# id="@speciesObject.Id">Sighting List @speciesObject.CommonName <i>@speciesObject.LatinName</i></a>
                </td>
                <td>
                    <a href="~/admin/SpeciesDelete/@speciesObject.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>


</table>
<br />

<a href="~/admin/NewSpecies/@Model.Id">Add a new species</a>

<br /><br />
<button type="button" class="toAdminIndex">Back to Admin Home</button>

