@model MyGardenWildlife3.Models.SpeciesModel

<h2>Edit Species: @Model.CommonName <i>@Model.LatinName</i></h2>


    <input type="hidden" id="speciesId" name="SpeciesId" value="@Model.Id" />
    <input type="hidden" id="categoryId" name="CategoryId" value="@Model.CategoryModel.Id" />
    Common Name:
    <input type="text" id="commonName" name="CommonName" value="@Model.CommonName" />
    <br /><br />
    Latin Name:
    <input type="text" id="latinName" name="LatinName" value="@Model.LatinName" />
    <br /><br />
    <input type="button" class="submitSpecies" value="submit" />



<br /><br />
<button type="button" class="toAdminIndex">Back to Admin Home</button>

